body {
  font-family: Arial, sans-serif;
  background-image: url('bg.webp');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.form, .hasil {
  margin-top: 20px;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  padding-right: 10px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
}

input[type="number"]:focus {
  border-color: #4c77af;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #509cff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #006eff;
}

.hasil {
  padding: 15px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 20px;
  box-sizing: border-box;
  text-align: center;
}

.hasil-tabel {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}

.hasil-tabel td {
  padding: 8px;
  text-align: left;
}

.hasil-tabel td:first-child {
  text-align: left;
}

.hasil-tabel td:last-child {
  text-align: right;
}

.lulus {
  color: #2e7d32;
}

.gagal {
  color: #c62828;
}


@media (max-width: 600px) {
  .container {
      width: 100%;
      padding: 15px;
  }

  button {
      font-size: 14px;
      padding: 10px;
  }
}